/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#preloader {
	display: none;
}

body div.container div.row div.tab-content div.tab-pane.active ul {
	list-style: none;
}

body div.container div.row div.tab-content div.tab-pane.active {
	margin-top: 1em;
}

span.glyphicon.glyphicon-link {
	cursor: pointer;
}

.hidden-form-control {
	visibility: hidden;
}
/* http://bootsnipp.com/snippets/featured/bootstrap-30-treeview */
.tree, .tree ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.tree ul {
	margin-left: 1em;
	position: relative
}

.tree ul ul {
	margin-left: .5em
}

.tree ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 1px solid
}

.tree li {
	margin: 0;
	padding: 0 1em;
	line-height: 2em;
	color: #369;
	font-weight: 700;
	position: relative
}

.tree ul li:before {
	content: "";
	display: block;
	width: 10px;
	height: 0;
	border-top: 1px solid;
	margin-top: -1px;
	position: absolute;
	top: 1em;
	left: 0
}

.tree ul li:last-child:before {
	background: #fff;
	height: auto;
	top: 1em;
	bottom: 0
}

.indicator {
	margin-right: 5px;
	cursor: pointer;
}

.tree li a {
	text-decoration: none;
	color: #369;
}

.tree li button, .tree li button:active, .tree li button:focus {
	text-decoration: none;
	color: #369;
	border: none;
	background: transparent;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	outline: 0;
}

/*
http://stackoverflow.com/questions/20198247/twitters-typeahead-js-suggestions-are-not-styled-have-no-border-transparent-b
*/
.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-menu { /* used to be tt-dropdown-menu in older versions */
	width: 422px;
	margin-top: 4px;
	padding: 4px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
	padding: 3px 20px;
	line-height: 24px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion p {
	margin: 0;
}
/*
http://www.bootply.com/ljIOxm3qDi
*/
.twitter-typeahead {
	width: 100%;
}

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
	margin-bottom: 0;
}

.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	width: 100%;
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',
		endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}

.tt-suggestion p {
	margin: 0;
}
/*! ========================================================================
 * Bootstrap Toggle: bootstrap2-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */
label.checkbox .toggle, label.checkbox.inline .toggle {
	margin-left: -20px;
	margin-right: 5px;
}

.toggle {
	min-width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
}

.toggle input[type="checkbox"] {
	display: none;
}

.toggle-group {
	position: absolute;
	width: 200%;
	top: 0;
	bottom: 0;
	left: 0;
	transition: left 0.35s;
	-webkit-transition: left 0.35s;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.toggle.off .toggle-group {
	left: -100%;
}

.toggle-on {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.toggle-off {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	width: 0px;
	border-width: 0 1px;
}

.toggle-handle.btn-mini {
	top: -1px;
}

.toggle.btn {
	min-width: 30px;
}

.toggle-on.btn {
	padding-right: 24px;
}

.toggle-off.btn {
	padding-left: 24px;
}

.toggle.btn-large {
	min-width: 40px;
}

.toggle-on.btn-large {
	padding-right: 35px;
}

.toggle-off.btn-large {
	padding-left: 35px;
}

.toggle.btn-small {
	min-width: 25px;
}

.toggle-on.btn-small {
	padding-right: 20px;
}

.toggle-off.btn-small {
	padding-left: 20px;
}

.toggle.btn-mini {
	min-width: 20px;
}

.toggle-on.btn-mini {
	padding-right: 12px;
}

.toggle-off.btn-mini {
	padding-left: 12px;
}

/*
https://mathiasbynens.be/demo/html5-details-jquery
*/
details, summary {
	display: block;
	padding: 0.2em;
}
/* Apply a pointer cursor and style the background upon hover to indicate <summary> is a clickable element. */
/* These styles can be applied regardless of whether the fallback is needed */
summary {
	cursor: pointer;
}

summary:hover, summary:focus {
	background: #ddd;
}

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */
.no-details details>* {
	display: none;
}
/* This doesn’t work very well in Firefox 3.6.x */
/* .no-details details[open] > * { display: block; } */
/* The following doesn’t toggle correctly in WebKit:
			.no-details details > summary:before { content: '► '; }
			.no-details details[open] > summary:before { content: '▼ '; }
			*/
/* And yes, it should really be ::before, but that doesn’t work in IE8 */
.no-details details>summary:before {
	float: left;
	width: 20px;
	content: '► ';
}

.no-details details.open>summary:before {
	content: '▼ ';
}
/* For IE6 and IE7, who don’t support generated content, you could use padding-left + a background image instead */
/* I really couldn’t be bothered though. */
/*
			.no-details details > summary { padding-left: 20px; background: url(img/arrow-sprite.png) no-repeat 0 0; }
			.no-details details.open > summary { background-position: 0 -20px; }
			*/
/* Make sure summary remains visible */
.no-details details summary {
	display: block;
}